.dropDownHook {
    color:#f26522;
    display:inline-block;
    width: 17%;
    height:50px;
    line-height:22px;
	font-size:19px;
	padding-top:18px;
	z-index:1;
	float:left;
}


.dropDownHook span{
    cursor:pointer;
}

.dropDownContent{
    display:none;
}

.dropDownHook .dropDownContent{
width: 1280px;
height:auto;
background-color: #fbfbfb;
left: -348px;
position: relative;
top: 12px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
z-index:1;
}

.dropDownUl{
width:80%;
margin-left:11%;
height:100%;
list-style-type: none;
}

.dropDownUl li{
display:inline-block;
width:200px;
margin:15px;
height:90px;
border-radius:4px;
cursor:pointer;
border:1px solid grey;
}

.cyclingLink{
background-image: url("../img/CyclingG.png");
background-repeat: no-repeat;
transition: background 0.4s ease;
-moz-transition:background 0.4s ease;
-webkit-transition:background 0.4s ease;
}

.cyclingLink:hover{
background-image: url("../img/CyclingO.png");
background-repeat: no-repeat;
}

.tennisLink{
background-image: url("../img/tennisG.png");
background-repeat: no-repeat;
transition: background 0.4s ease;
}

.tennisLink:hover{
background-image: url("../img/tennisO.png");
background-repeat: no-repeat;
}

.fitnessLink{
background-image: url("../img/fitnessG.png");
background-repeat: no-repeat;
transition: background 0.4s ease;
}

.fitnessLink:hover{
background-image: url("../img/fitnessO.png");
background-repeat: no-repeat;
}

.fishingLink{
background-image: url("../img/fishingG.png");
background-repeat: no-repeat;
transition: background 0.4s ease;
}

.fishingLink:hover{
background-image: url("../img/fishingO.png");
background-repeat: no-repeat;
}


