@media screen and (min-width: 651px) {

.header-navigation,.container
{
width: 1000px;
min-width: 960px;
max-width: 100%;
padding: 0 10px;
position: relative;
margin: 0 auto;
}

.content-wrapper{
width:100%;
height:auto;
min-width:370px;
padding-top:75px;
min-height:610px;
}


.mobile-menu-icon{
float:left;
display:none;
}

.logo{
float:left;
width:15%;
margin-right:5%;
}

.logo-link{
margin-top:7px;
width:139px;
height:40px;
}

.desktop-nav{
width:80%;
float:left;
}

.nav-ul{
width:68%;
height:50px;
float:left;
}

.nav-li {
width: 80px;
margin-right:20px;
padding: 0;
list-style: none;
float: left;
cursor: pointer;

}

.nav-li a{
font-family:"jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: -0.02em;
font-weight: 400;
font-style: normal;
white-space: nowrap;
line-height: 55px;
display: block;
text-align: center;
text-decoration: none;
color:#f26522;
font-size:18px;
margin-right:40px;
}

.nav-li a:hover{
color:#e69771;
}

.popup-signup{
width:80px;
height:33px;
float:right;
text-align:center;
padding:3px;
border:2px solid #f26522;
border-radius:5px;
margin-top:8px;
cursor:pointer;
background-color:white;
outline:none;
z-index:1000;
}

.popup-signup:hover{
background-color:#fde0d2;
transition: background 0.8s ease;
}

.popup-signup a{
line-height:25px;
text-decoration:none;
color:#f26522;
font-family:helvetica world;
font-size:13px;
font-weight:bold;
}

.popup-signup a:hover{
text-decoration:none;
color:#f26522;
font-family:helvetica world;
}

.signupDiv{
width:500px;
height:600px;
background-color:white;
border-radius:5px;
}

.signupDivTitle{
width:100%;
height:50px;
margin-bottom:20px;
text-align:center;
font-family:helvetica world;
font-size:20px;
padding-top:20px;
color:grey;
border-bottom:1px solid #efefef;
}


.signupMidDiv ul{
width:90%;
margin:0px auto;
display:inline;
height:276px;
background-color:green;
}

.signupMidDiv ul li{
width:50%;
float:left;
height:230px;

}

.signupMidDiv ul li a{
text-decoration:none;
}

.signupMidDiv ul li a:hover{
text-decoration:underline;
color:grey;
}


.signupMidDiv ul li img{
margin:0px auto;
display:block;
}

.signupPictoText{
width:100%;
text-align:center;
font-family:helvetica world;
font-size:19px;
color:grey;
height:44px;
text-decoration:none;
padding:15px;
}

.signupPictoDesc{
width:80%;
margin:0px auto;
display:block;
height:60px;
text-align:center;
font-family:helvetica world;
font-size:14px;
color:grey;
}

.signupMidDiv{
height:470px;
}

.write-header a{
width:auto;
height:100%;
float:left;
line-height: 22px;
font-size: 19px;
padding-top: 18px;
text-decoration:none;
color:#f26522;
}


.account{
min-width:29%;
width:auto;
float:left;
font-family:"jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: -0.02em;
font-weight: 400;
font-style: normal;
white-space: nowrap;
line-height: 50px;
color:#f26522;
float:right;
}


.accountPhoto{
width:25%;
height:50px;
float:left;
}

.circlePhoto{
margin:0px auto;
display:block;
border: 1px solid #FFF;
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
background-size:35px 35px;
margin-top:6px;
height:35px;
width:35px;
border-radius:100%;
overflow:hidden;
}

.accountMenu{
position: relative;
margin: 0;
padding: 0;
z-index: 30;
width:75%;
float:left;
}

.accountMenu li{
margin: 0;
padding: 0;
list-style: none;
float: left;
height: 48px;
cursor: pointer;
}

.accountMenu li a {
display: block;
margin: 0 1px 0 0;
text-align: left;
text-decoration: none;
padding-left:5%;
padding-top:1%;
font-size:17px;
}


.accountMenu div{
width:200px;
visibility: hidden;
margin: 0;
padding: 0;
border-bottom: 1px solid #d1d1d4;
border-right: 1px solid #d1d1d4;
border-left: 1px solid #d1d1d4;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
margin-top:1px;
left: -20%;
position: relative;
opacity:0.98;
}

.accountMenu div a{
display: block;
margin: 0;
padding: 0px 10px;
width: auto;
white-space: nowrap;
text-align: left;
text-decoration: none;
background: white;
color: grey;
height:40px;
line-height:40px;
border-bottom: 1px solid #f4f4f4;
font-size:16px;
}

.accountMenu div a:hover{
color: #f25622;
transition: color 0.8s ease;
}	

.newlist{
width:100%;
height:auto;
}

.newleftList{
background-color:white;
margin:0px auto;
width:35%;
height:100%;
float:left;
border-radius: 5px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
margin-bottom:50px;
}

.profileLeftLargeContainer{
width:90%;
height:100%;
margin-left:5%;
}

.profilePictureLeftLargeContainer{
width:100%;
height:200px;
}

.pictureLeftLargerContainer{
border: 2px solid #FFF;
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
background-size:60px 60px;
margin-top:12px;
height:160px;
width:160px;
border-radius:100%;
overflow:hidden;
margin-left:26%;
margin-top:10%;
}


.profileNameLeftLargeContainer{
width:100%;
height:25px;
text-align:center;
font-family:helvetica world;
color:grey;
font-size:19px;
}

.profileProfessionLeftLargeContainer{
width:100%;
height:25px;
text-align:center;
font-family:helvetica world;
color:#858585;
font-size:15px;
padding-top:3px;
}

.profileRankLeftLargeContainer{
width:100%;
height:40px;
text-align:center;
padding-top:5px;
}

.profileReviewsAndLikesLeftLargeContainer{
width:100%;
height:40px;
border-bottom:1px solid #e5e5e5;
}

.profileLikesPictoLeftLargeContainer{
width:20%;
height:100%;
float:left;
text-align:center;
padding-top:4%;
}

.profileLikesLeftLargeContainer{
width:30%;
height:100%;
float:left;
text-align:left;
border-right:1px solid #e5e5e5;
padding-left:5%;
padding-top:4.5%;
color:grey;
font-family:helvetica world;
}

.profileReviewsPictoLeftLargeContainer{
width:20%;
height:100%;
float:left;
text-align:center;
padding-top:4%;
}

.profileReviewsLeftLargeContainer{
width:30%;
height:100%;
float:left;
text-align:left;
padding-left:5%;
padding-top:4.5%;
color:grey;
font-family:helvetica world;
}

.bio{
padding:19px;
width:100%;
height:auto;
text-align:center;
color:#858585;
font-family:helvetica world;
font-size:15px;
line-height:18px;
}


.additionalInfo{
width:100%;
height:auto;
padding:19px;
}

.additionalInfoTitle{
height:35px;
color:grey;
font-family:helvetica world;
line-height:35px;
}

.infoDiv{
width:100%;
height:35px;
}

.infoDivPicto{
width:21px;
height:100%;
float:left;
}

.infoDivDetail{
width:80%;
height:100%;
float:left;
text-align: left;
font-family: helvetica world;
color: #858585;
font-size: 15px;
line-height:35px;
padding-left:6%;
}

.profileSocialLeftLargeContainer{
width:100%;
height:65px;
text-align:center;
border-top:1px solid #e5e5e5;
border-bottom:1px solid #e5e5e5;
}

.socialLogo{
width:20%;
height:100%;
float:left;
padding-top:5%;
}


.newRightList{
width:63%;
margin-left:2%;
height:100%;
float:left;
}

.profileRightLargeTOPContainer{
width:100%;
height:60px;
background-color:white;
border-radius: 3px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
}

.rightLargeNav{
width:33.333%;
height:100%;
float:left;
text-align:center;
cursor:pointer;
}

.rightLargeNav:hover{
border-bottom:4px solid #f26522;
}

.rightLargeNavTitle{
color:#858585;
height:30px;
line-height:40px;
font-size:14px;
font-family:helvetica world;
}

.rightLargeNavCount{
color:grey;
height:30px;
font-weight:bold;
font-size:16px;
line-height:18px;
font-family:helvetica world;
}


.profileRightLargeBOTTOMContainer{
margin-top:25px;
width:100%;
height:500px;
background-color:white;
border-radius: 3px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
}

.writeAReview{
width:100%;
height:60px;

}

.writeUser{
float:left;
width:10%;
}

.writerPicSpecs{
border: 2px solid #FFF;
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
background-size:60px 60px;
margin-top:12px;
height:35px;
width:35px;
border-radius:100%;
overflow:hidden;
margin-left:30%;
margin-top:18%;
}

.writeAReviewDiv{
width:90%;
float:left;
}

.reviewTextarea{
width:93%;
margin-top:2%;
margin-left:4%;
}

.readReviews{
margin-top:25px;
background-color:white;
border-radius: 3px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
}

.commenterPic{
width:14%;
height:auto;
float:left;
}

.commenterPicSpecs{
border: 2px solid #FFF;
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
background-size:60px 60px;
margin-top:12px;
height:55px;
width:55px;
border-radius:100%;
overflow:hidden;
margin-left:13%;
margin-top:20%;
}

.commentInfo{
width:86%;
height:35px;
float:left;
}

.commentInfoName{
width:70%;
height:100%;
float:left;
line-height:45px;
font-weight:bold;
font-family:helvetica world;
font-size:16px;
}

.commentInfoDate{
width:26%;
height:100%;
float:left;
text-align:right;
padding-right:2%;
line-height:45px;
font-family:helvetica world;
font-size:15px;
color:#c0bebe;
}

.commentText{
width:88%;
padding-top:6%;
padding-bottom:3%;
height:auto;
margin-left:14%;
font-family:helvetica world;
font-size:15px;
color:grey;
padding-right:5%;
}

.deleteComment{
float:left;
padding-left:0.5%;
width:4%;
height:100%;
line-height:40px;
font-family:helvetica world;
font-size:17px;
color:#c0bebe;
cursor:pointer;
}

.deleteComment:hover{
color:grey;
}

.mob-nav-menu{
display:none;
}

.profileViewsReviews{
width:100%;
height:30px;
float:left;
border-bottom:1px solid #e5e5e5;
margin-top:15px;
margin-bottom:15px;
}

.profilePictoViewsReviews{
width:30%;
float:left;
display:block;
margin:0px auto;
text-align:right;
}

.profilePictoViewsReviews2{
width:15%;
float:left;
display:block;
margin:0px auto;
text-align:right;
}

.profileNumViewsReviews{
width:20%;
float:left;
font-family:helvetica world;
color:#858585;
font-size:17px;
padding-left:7px;
padding-top:2px;
}

.userRatings{
margin-top:25px;
width:100%;
min-height:200px;
height:auto;
background-color:white;
border-radius: 3px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
}

.userRatingsTitle{
height:40px;
padding:20px;
text-align:left;
color:grey;
font-family:helvetica world;
font-size:17px;
}

.userReviewsTitle{
height:20px;
padding:18px;
text-align:left;
color:grey;
font-family:helvetica world;
font-size:17px;
border-top:1px solid #e5e5e5;
}

.rateN{
width:100%;
height:20px;
margin-bottom:5px;
}

.rate-pic{
width:80px;
float:left;
margin-right:10px;
}

.rate-meter{
height:100%;
width:55%;
float:left;
margin-right:10px;
}

.rate-num{
height:100%;
width:10%;
line-height:20px;
text-align:center;
float:right;
font-size:16px;
color:grey;
}

.rank-and-review{
display:none;
}

.readReviews ul{
width:100%;
height:auto;
}

.readReviews ul li:first-child {
border-top:0px solid #e5e5e5;
}

.readReviews ul li {
width:100%;
height:auto;
min-height:90px;
border-bottom:1px solid #e5e5e5;
padding-bottom:10px;
}



.readReviews ul li:last-child {
text-align:center;
color:grey;
padding:10px;
text-decoration:underline;
line-height:60px;
}

.commenterPic{
width:15%;
height:100pcx;
float:left;
}

.commenterPicSpecs{
border: 2px solid #FFF;
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
background-size:60px 60px;
margin-top:12px;
height:55px;
width:55px;
border-radius:100%;
overflow:hidden;
margin:15px auto;
display:block;
}

.commentInfo{
width:83%;
height:35px;
float:left;
margin-bottom:4px;
}

.commentInfoName{
width:68%;
height:100%;
float:left;
line-height:45px;
font-weight:bold;
font-family:helvetica world;
font-size:16px;
}

.commentInfoDate{
width:26%;
height:100%;
float:left;
text-align:right;
padding-right:2%;
line-height:45px;
font-family:helvetica world;
font-size:15px;
color:#c0bebe;
}

.commentText{
width:83%;
margin-top:10px;
padding-bottom:10px;
height:auto;
margin-left:15%;
font-family:helvetica world;
font-size:15px;
color:grey;
line-height:20px;
padding-right:5%;
}


.deleteComment{
float:left;
padding-left:0.5%;
width:4%;
height:100%;
line-height:40px;
font-family:helvetica world;
font-size:17px;
color:#c0bebe;
cursor:pointer;
}

.deleteComment:hover{
color:grey;
}

.galleryUl{
width:100%;
}

.galleryLi{
width:17%;
width:105px;
height:105px;
float:left;
margin:0px auto;
display:block:
}

.galleryLiImg{
height:105px;
width:105px;
overflow:hidden;
display:block;
cursor:pointer;
padding:2px;
}

.profilePhotosLargeBOTTOMContainer{
margin-top:30px;
margin-bottom:30px;
width:100%;
height:auto;
float:left;
background-color:white;
border-radius: 3px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
}

.writeAReview{
width:100%;
min-height:140px;
}

.writeUser{
float:left;
width:10%;
margin-top:10px;
}

.writerPicSpecs{
border: 2px solid #FFF;
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
background-size:60px 60px;
margin-top:12px;
height:35px;
width:35px;
border-radius:100%;
overflow:hidden;
margin-left:30%;
margin-top:18%;
}

.writeAReviewDiv{
width:90%;
float:left;
margin-top:10px;
}

.reviewTextarea{
width:93%;
height:auto;
min-height:70px;
margin-top:10px;
margin-left:4%;
outline:none;
overflow:hidden;
padding:5px;
border:1px solid #e5e5e5;
border-radius:3px;
font-size:15px;
font-family:helvetica world;
line-height:15px;
color:grey;
}

.postBtn{
float:right;
cursor:pointer;
margin-right:3%;
width:80px;
height:33px;
float:right;
text-align:center;
border:2px solid #f26522;
border-radius:5px;
cursor:pointer;
background-color:white;
outline:none;
line-height:30px;
text-decoration:none;
color:#f26522;
font-family:helvetica world;
font-size:13px;
font-weight:bold;
margin-top:5px;
}

.postBtn:hover{
text-decoration:none;
color:#f26522;
background-color:#fde0d2;
font-family:helvetica world;
transition: background 0.8s ease;
}

.mobile-menu{
display:none;
}

.desktop-menu{
width:27%;
height:auto;
float:left;
background-color:white;
border-radius: 3px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
margin-right:25px;
}

.leftListHeader{
height:50px;
border-bottom:1px solid #e5e5e5;
color:#f26522;
}

.leftListHeaderTitle{
font-family:helvetica world;
padding:15px 0px 0px 15px;
font-size:20px;
}

.leftListMenuHeaderTitle{
font-family:helvetica world;
padding:15px 0px 0px 15px;
font-size:20px;
float:left;
}


.sportList{
height:auto;
}

.sportList li{
height:60px0px;
line-height:50px;
color:#808080;
padding-left:30%;
font-family:Helvetica World;
}

.articlePicto{
background-image: url("../img/pen2.png");
background-repeat: no-repeat;
background-position:12% 55%;
}

.articlePicto:hover{
color:#f26522;
background-color:#fff2ee;
cursor:pointer;
border-right:3px solid #f26522;
background-image: url("../img/pen.png");
transition: background 0.4s ease;
}

.trainerPicto{
background-image: url("../img/coach.png");
background-repeat: no-repeat;
background-position:12% 55%;
}

.trainerPicto:hover{
color:#f26522;
background-color:#fff2ee;
cursor:pointer;
border-right:3px solid #f26522;
background-image: url("../img/coach2.png");
transition: background 0.4s ease;
}

.locationPicto{
background-image: url("../img/map.png");
background-repeat: no-repeat;
background-position:12% 55%;
}

.locationPicto:hover{
color:#f26522;
background-color:#fff2ee;
cursor:pointer;
border-right:3px solid #f26522;
background-image: url("../img/map2.png");
transition: background 0.4s ease;
}

.storesPicto{
background-image: url("../img/cart.png");
background-repeat: no-repeat;
background-position:12% 52%;
}

.storesPicto:hover{
transition: background 0.4s ease;
color:#f26522;
background-color:#fff2ee;
cursor:pointer;
border-right:3px solid #f26522;
background-image: url("../img/cart2.png");
}

.eventPicto{
background-image: url("../img/event.png");
background-repeat: no-repeat;
background-position:12% 52%;
}

.eventPicto:hover{
color:#f26522;
background-color:#fff2ee;
cursor:pointer;
border-right:3px solid #f26522;
background-image: url("../img/event2.png");
transition: background 0.4s ease;
}

.list-accounts{
float:left;
width:70%;
height:auto;
margin:0px auto;
background-color:white;
border-radius: 3px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
}

.attributeList li{
height:100px;
border-bottom:1px solid #e5e5e5;
cursor:pointer;
}


.listPic{
width:25%;
height:100%;
float:left;
}

.circleListPic{
border: 2px solid #FFF;
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
background-size:35px 35px;
margin:12px auto;
height:70px;
width:70px;
border-radius:100%;
overflow:hidden;
display:block;
}

.listInfo{
width:62%;
height:100%;
float:left;

}

.listName{
width:100%;
height:30px;
line-height:45px;
margin-bottom:6px;
padding-left:5px;
font-size:17px;
font-family:Helvetica World;
color:#f26522;
}

.listviews{
width:26%;
height:25px;
float:left;
line-height:22px;
color:#808080;
padding-top:1px;
}

.listViewsPicto{
float:left;
margin-left:5%;
}

.listReviews{
width:26%;
height:25px;
float:left;
line-height:22px;
color:#808080;
padding-top:1px;
}

.listRank{
width:100%;
height:25px;
float:left;
margin-left:2px;
}

.listArrow{
width:10%;
height:100%;
float:left;
}

.listArrowPicto{
margin:32px auto;
display:block;
}

.mobile-list-sort{
display:none;
}

.footer-wrapper{
float:left;
width:100%;
height:auto;
bottom:0;
}

.footer-container{
width:75%;
height:70px;
display:block;
margin:0px auto;
}

.sponsor-container{
width:100%;
height:50px;
}

.copyrights{
width:58%;
height:30px;
text-align:right;
line-height:20px;
padding:1px;
font-size:15px;
color:grey;
float:left;

}

.site-map{
width:42%;
height:30px;
float:left;
text-align:center;
}

.site-map ul{
padding-top:3px;
text-align:center;
list-style-type:none;
margin:0px auto;
display:block;
}


.site-map ul li{
float:left;	
display:inline;
padding-right:8px;
padding-left:8px;
border-right:1px solid grey;
}

.site-map ul li:last-child{
border-right:0px solid grey;
}

.site-map ul li a{
font-size:15px;
color:#f26522;
width:80px;
height:20px;
text-decoration:none;
text-align:center;
}

.site-map ul li a:hover{
text-decoration:underline;
}
	
.signup-big{
width:100%;
height:540px;
background-color:white;
border-radius: 3px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
}
	
.signup-header{
width:100%;
height:60px;
border-bottom:1px solid #efefef;
}
	
.signup-header-ai{
width:33.333%;
height:100%;
float:left;
color:grey;
text-align:left;
line-height:62px;
padding-left:20px;
font-size:20px;
font-family:helvetica world;
}	

	
.signup-header-bi{
width:33.333%;
height:100%;
float:left;
color:grey;
background-size:37px 37px;
background-image: url("../img/signup2G.png");
background-repeat:no-repeat;
background-position: 20px 12px; 
text-align:center;
line-height:60px;
font-size:17px;
font-family:helvetica world;
cursor:pointer;
}	

.signup-header-bi:hover{
background-image: url("../img/signup2O.png");
border-bottom:3px solid #f25622;
color:#f25622;
transition: border 0.2s ease;
cursor:pointer;
}
	
.signup-header-ph{
width:33.333%;
height:100%;
float:left;
color:grey;
background-size:37px 37px;
background-image: url("../img/signup3G.png");
background-repeat:no-repeat;
background-position: 20px 12px;  
text-align:center;
line-height:60px;
font-size:17px;
font-family:helvetica world;
cursor:pointer;
}

.signup-header-ph:hover{
background-image: url("../img/signup3O.png");
border-bottom:3px solid #f25622;
color:#f25622;
transition: border 0.2s ease;
cursor:pointer;
}

.signup1{
height:150px;
width:100%;
border-bottom:1px solid #efefef;

}

.signup2{
height:310px;
width:100%;

}

.signup3{
height:auto;
width:100%;	
display:none;
}

.signup-title{
width:100%;
height:70px;
text-align:center;
padding:20px;
color:grey;
font-family:helvetica world;
font-size:19px;
}

.signup-title2{
width:100%;
height:40px;
text-align:center;
padding:20px;
color:grey;
font-family:helvetica world;
font-size:19px;
}

.signup-Desc{
width:100%;
height:30px;
line-height:35px;
text-align:center;
color:grey;
font-family:helvetica world;
font-size:15px;
margin-bottom:20px;
}

	
.signup-social{
width:100%;
height:60px;
padding-left:24%;
}	

.signup-fb{
width:250px;
height:45px;
border-radius:5px;
background-color:#3a5ba2;
float:left;
margin-right:25px;
color:white;
cursor:pointer;
background-size:37px 37px;
background-image: url("../img/scconnect1.png");
background-repeat:no-repeat;
background-position: 15px 4px;  
padding-left:55px;
line-height:50px;
}

.signup-twitter{
width:250px;
height:45px;
border-radius:5px;
background-color:#1ebef0;
float:left;
color:white;
cursor:pointer;
background-image: url("../img/scconnect2.png");
background-repeat:no-repeat;
background-size:37px 37px;
background-position: 15px 4px; 
padding-left:60px;
line-height:50px; 
}

.signup-email{
width:35%;
height:240px;
display:block;
margin:0px auto;
}

.textboxStandard{
width:100%;
height:40px;
margin-bottom:10px;
background-color:#f4f4f4;
border:1px solid #f4f4f4;
color:grey;
outline:none;
font-family:helvetica world;
font-size:16px;
padding:15px;
}

.textboxStandard:hover{
background-color:#e8e6e6;
}


.signupSubmitBTN{
width:100%;
height:40px;
margin-top:15px;
margin-bottom:10px;
background-color:#f25622;
color:white;
text-align:center;
line-height:30px;
border-radius:5px;
border:1px solid #f25622;
cursor:pointer;
font-family:helvetica world;
font-size:16px;
outline:none;
}

.profileSignUpToLeft{
width:90%;
height:100%;
margin:0px auto;
border-bottom:1px solid #efefef;
}

.textboxStandardLeft{
width:100%;
height:40px;
margin-top:20px;
border:1px solid #d5d5d5;
color:grey;
outline:none;
font-family:helvetica world;
font-size:16px;
padding:15px;
padding-left:20px;
}

.textboxStandardRight{
width:48%;
height:40px;
margin-top:10px;
border:1px solid #d5d5d5;
color:grey;
outline:none;
font-family:helvetica world;
font-size:16px;
padding:15px;
float:left;
}

.textboxStandardRight2{
width:48%;
height:40px;
margin-top:10px;
border:1px solid #d5d5d5;
color:grey;
outline:none;
font-family:helvetica world;
font-size:16px;
padding:15px;
float:right;
}

.select-sport{
width:100%;
height:35px;
outline:none;
font-family:helvetica world;
font-size:16px;
border-radius:5px;
border:1px solid #d5d5d5;
color:grey;
margin-top:20px;
margin-bottom:20px;
padding-left:10px;
background: url("../img/new_arrow.png") no-repeat right;
-webkit-appearance: none;
-moz-appearance:none;
-webkit-appearance:none;
cursor:pointer;
}

.select-sport::-ms-expand {
    display: none;
}


.textareaSignUp{
width:90%;
display:block;
margin:20px auto;
height:280px;
border:1px solid #d5d5d5;
color:grey;	
outline:none;
font-family:helvetica world;
font-size:16px;
padding:10px;
}

.rightSignUpLargeNav{
width:50%;
height:100%;
float:left;
text-align:center;
cursor:pointer;
color:grey;
padding-top:20px;
font-size:17px;
font-family:helvetica world;
}

.rightSignUpLargeNav:hover{
border-bottom:4px solid #f26522;
}

.SignUpAdditionalInfo{
margin-top:20px;
width:100%;
height:700px;
background-color:white;
border-radius: 3px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
}

.fbtextboxLeftSignUpMini{
width:90%;
height:40px;
margin:20px auto;
display:block;
border:1px solid #d5d5d5;
color:grey;	
outline:none;
font-family:helvetica world;
font-size:16px;
padding:15px;
padding-left:50px;
background-image: url("../img/facebook.png");
background-repeat:no-repeat;
background-size:27px 27px;
background-position: 10px 6px; 
}

.TtextboxLeftSignUpMini{
width:90%;
height:40px;
margin:20px auto;
display:block;
border:1px solid #d5d5d5;
color:grey;	
outline:none;
font-family:helvetica world;
font-size:16px;
padding:15px;
padding-left:50px;
background-image: url("../img/twitter.png");
background-repeat:no-repeat;
background-size:27px 27px;
background-position: 10px 6px; 
}

.ItextboxLeftSignUpMini{
width:90%;
height:40px;
margin:20px auto;
display:block;
border:1px solid #d5d5d5;
color:grey;	
outline:none;
font-family:helvetica world;
font-size:16px;
padding:15px;
padding-left:50px;
background-image: url("../img/instagram.png");
background-repeat:no-repeat;
background-size:27px 27px;
background-position: 10px 6px; 
}

.LtextboxLeftSignUpMini{
width:90%;
height:40px;
margin:20px auto;
display:block;
border:1px solid #d5d5d5;
color:grey;	
outline:none;
font-family:helvetica world;
font-size:16px;
padding:15px;
padding-left:50px;
background-image: url("../img/linkedin.png");
background-repeat:no-repeat;
background-size:27px 27px;
background-position: 10px 6px; 
padding-bottom:20px;
}

.select-country{
width:90%;
height:35px;
outline:none;
font-family:helvetica world;
font-size:16px;
border-radius:5px;
border:1px solid #d5d5d5;
color:grey;
padding:0;
margin:20px auto;
padding-left:10px;
display:block;
-webkit-appearance: none;
-moz-appearance:none;
-webkit-appearance:none;
background: url("../img/new_arrow.png") no-repeat right;
cursor:pointer;
}

.select-country::-ms-expand {
    display: none;
}


.select-city{
width:90%;
height:35px;
outline:none;
font-family:helvetica world;
font-size:16px;
margin-left:1%;
margin-right:1%;
border-radius:5px;
border:1px solid #d5d5d5;
color:grey;
margin:20px auto;
padding-left:10px;
display:block;
-webkit-appearance: none;
-moz-appearance:none;
-webkit-appearance:none;
background: url("../img/new_arrow.png") no-repeat right;
cursor:pointer;
}

.select-city::-ms-expand {
    display: none;
}


.SignUpTitle{
width:100%;
height:50px;
color:grey;
padding-left:30px;
font-family:helvetica world;
font-size:16px;
line-height:60px;
}

.textareaSignUp{
width:90%;
display:block;
margin:10px auto;
height:150px;
border:1px solid #d5d5d5;
color:grey;	
outline:none;
font-family:helvetica world;
font-size:16px;
padding:10px;
}

.personalInfo{
width:90%;
margin:0px auto;
height:110px;
}

.saveBTN{
width: 200px;
height: 33px;
float: right;
text-align: center;
border: 2px solid #f26522;
border-radius: 5px;
color: #f26522;
font-family: helvetica world;
font-size: 15px;
cursor: pointer;
background-color:white;
}



.article-main-left{
width:60%;
height:auto;
background-color:white;
border-radius: 3px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
float:left;
}

.article-main-title{
padding:20px;
font-family:helvetica world;
font-size:20px;
color:grey;
width:100%;
height:auto;
}

.article-main-photo{
width:100%;
height:350px;
background-color:#efefef;
}

.article-main-body{
width:100%;
height:auto;
padding:20px;
margin-top:80px;
padding-bottom:50px;
color:grey;
font-family:helvetica world;
}

.article-main-body2{
width:100%;
height:auto;
padding:20px;
padding-bottom:50px;
color:grey;
font-family:helvetica world;
}

.article-info-right{
width:37.5%;
margin-left:2.5%;
height:auto;
background-color:white;
border-radius: 3px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
float:left;
}

.article-info-title{
width:100%;
height:50px;
color:grey;
padding:20px;
border-bottom:1px solid #efefef;
}

.author-info{
width:48%;
height:80px;
float:left;
border-bottom:1px solid #efefef;
padding-left:10px;
}

.author-info2{
width: 100%;
height: auto;
}


.article-adv{
width:13%;
height:80px;
float:left;
border-bottom:1px solid #efefef;
}

.article-adv-top{
width:100%;
height:35px;
text-align:center;
font-size:15px;
font-family:helvetica world;
color:#f26522;
padding-top:15px;
}

.Article-share-social-desc{
width:90%;
display: block;
margin: 0px auto;
color:grey;
margin-bottom:20px;
}


.article-adv-bellow{
width:100%;
height:45px;
text-align:center;
font-size:18px;
font-family:helvetica world;
color:grey;
padding-top:5px;
}

.author-pic{
width:25%;
height:75px;
float:left;
}

.author-prof-pic{
border: 2px solid #FFF;
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
background-size:60px 60px;
height:55px;
width:55px;
border-radius:100%;
overflow:hidden;
margin: 10px auto;
display:block;
}

.author-name{
width:75%;
float:left;
height:40px;
text-align:left;
padding-top:15px;
padding-left:5px;
color:#f26522;
font-size:17px;
font-family:helvetica world;
}

.author-name{
width:75%;
float:left;
height:40px;
text-align:left;
padding-top:15px;
color:#f26522;
font-size:17px;
font-family:helvetica world;
}

.author-Author{
width:30%;
float:left;
height:30px;
text-align:left;

color:grey;
font-size:16px;
font-family:helvetica world;
padding-top:4px;
}

.article-date{
width:35%;
float:left;
height:30px;
text-align:left;
padding-left:5px;
color:grey;
font-size:16px;
font-family:helvetica world;
padding-top:4px;
}

.rank-article-info{
width:100%;
height:40px;
text-align:center;
padding-top:5px;
}

.article-mini-info{
width:100%;
min-height:50px;
height:auto;
border-bottom:1px solid #efefef;
color:#f26522;
padding:18px;
cursor:pointer;
}

.article-mini-info:hover{
text-decoration:underline;
}

.article-mini-info2{
width:100%;
height:auto;
margin-top:25%;
}

.article-mini-info-left{
height:100%;
width:38%;
float:left;
color:grey;
padding-top:18px;
padding-left:17px;
text-align:right;
}

.article-mini-info-right{
width:50%;
height:100%;
float:left;
color:#f26522;
padding-top:19px;
padding-left:18px;
}

.Article-share-social{
width:100%;
height:auto;
float: left;
display: block;
margin: 0px auto;
margin-top: 20px;
}	

.Article-share-fb{
width:31%;
height:38px;
border-radius:3px;
background-color:#3a5ba2;
float:left;
color:white;
cursor:pointer;
background-size:37px 37px;
background-image: url("../img/scconnect1.png");
background-repeat:no-repeat;
background-position: 3px 2px;  
padding-left:45px;
line-height:45px;
}

.Article-share-twitter{
width:31%;
height:38px;
border-radius:3px;
background-color:#1ebef0;
float:left;
color:white;
cursor:pointer;
background-image: url("../img/scconnect2.png");
background-repeat:no-repeat;
background-size:37px 37px;
background-position: 3px 2px; 
padding-left:50px;
line-height:45px; 
margin-left:3%;
}

.Article-share-Email{
width:31%;
height:38px;
border-radius:3px;
background-color:#f25622;
float:left;
color:white;
cursor:pointer;
background-image: url("../img/emailpicto.png");
background-repeat:no-repeat;
background-size:37px 37px;
background-position: 3px 2px; 
padding-left:50px;
line-height:45px; 
margin-left:3%;
}

.article-mini-info2-views{
width:30%;
float:left;
display:block;
margin:15px auto;
text-align:right;
}

.article-mini-info2-views2{
width:15%;
float:left;
display:block;
margin:15px auto;
text-align:right;
}

.article-mini-info2-num{
width:20%;
float:left;
font-family:helvetica world;
color:grey;
font-size:16px;
padding-left:7px;
padding-top:15px;
}

.article-reviews{
width:65%;
margin-top:25px;
float:left;
background-color:white;
border-radius: 3px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
}

.article-reviews ul{
width:100%;
height:auto;
}

.article-reviews ul li:first-child {
border-top:0px solid #e5e5e5;
}

.article-reviews ul li {
width:100%;
height:auto;
min-height:90px;
border-bottom:1px solid #e5e5e5;
padding-bottom:10px;
}

.article-reviews ul li:last-child {
text-align:center;
color:grey;
padding:10px;
text-decoration:underline;
line-height:60px;
}

.article-textbox-title{
width:100%;
height:40px;
border:1px solid #d5d5d5;
color:grey;
outline:none;
font-family:helvetica world;
font-size:16px;
padding:15px;
padding-left:20px;
}

.article-textarea{
width:100%;
display:block;
margin:10px auto;
height:280px;
border:1px solid #d5d5d5;
color:grey;	
outline:none;
font-family:helvetica world;
font-size:16px;
padding:10px;
}

.article-select-sport{
width:90%;
height:40px;
outline:none;
font-family:helvetica world;
font-size:16px;
border-radius:5px;
border:1px solid #d5d5d5;
color:grey;
margin:10px auto;
display:block;
cursor:pointer;
-webkit-appearance: none;
-moz-appearance:none;
-webkit-appearance:none;
background: url("../img/new_arrow.png") no-repeat right;
}

.save-article{
width:90%;
display: block;
margin: 0px auto;
height:38px;
text-align:center;
color:white;
background-color:#00b034;
border-radius:3px;
margin-bottom:20px;
line-height:40px;
cursor:pointer;
}

.save-article:hover{
background-color:#02a231;
}

.publish-article{
width:90%;
display: block;
margin: 0px auto;
height:38px;
text-align:center;
color:white;
background-color:#f26522;
border-radius:3px;
margin-bottom:20px;
line-height:40px;
cursor:pointer;
}

.publish-article:hover{
background-color:#dc5f24;
}

.publish-article:hover{
background-color:#dc5f24;
}

.menu-filter-in{
width:100%;
height:148px;
margin-top:10px;
}


.menu-filter-in li select{
-webkit-appearance: none;
-moz-appearance:none;
-webkit-appearance:none;
}

.menu-filter-in li select::-ms-expand {
    display: none;
}

.menu-filter-in-li1{
color:#f26522;
padding-left:15px;
}

.filter-select{
height:35px;
width:90%;
outline:none;
font-family:helvetica world;
font-size:16px;
border-radius:5px;
border:1px solid #d5d5d5;
color:grey;
padding:0;
padding-left:5px;
margin:20px auto;
display:block;
cursor:pointer;
background: url("../img/new_arrow.png") no-repeat right;
}


.leftMenuHeader{
height:50px;
border-bottom:1px solid #e5e5e5;
color:#f26522;
padding:9px;
}

.textarea-search-menu{
background-color:#fefefe;
width:38%;
margin-left:2%;
height:32px;
border:1px solid #c8c8cd;
border-radius:5px;
font-size:15px;
color:grey;
font-family:helvetica world;
padding-left:35px;
outline:none;
background-image: url("../img/search.png");
background-repeat: no-repeat;
float:left;
}


.desktop-sort{
width:60%;
float:left;
}

.desktop-sort li{
padding-top:12px;
height:35px;
float:left;
display:inline;
width:33.333%;
text-align:center;
}


.desktop-sort li a{
color:grey;
text-decoration:none;
font-size:16px;
font-family:helvetica world;

}

.desktop-sort li a:hover{
text-decoration:underline;
}

.feed{
width:60%;
height:auto;
float:left;
}

.feed ul li{
width:100%;
height:auto;
background-color:white;
border-radius: 5px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
margin-bottom:25px;
}

.feed-head{
width:100%;
height:300px;
}

.feed-li-pic{
max-width:100% !important;
display:block;
border-top-right-radius:5px;
border-top-left-radius:5px;
z-index:10;
min-height:200px;
background-size:300px 35px;
height:300px;
width:100%;
}

.feed-body{
width:100%;
min-height:129px;
z-index:100;
padding:10px;

}

.article-index-title{
height:auto;
width:100%;
}

.article-index-title a{
text-align:left;
color:black;
font-size:19px;
font-family:helvetica world;
text-decoration:none;
}

.article-index-title a:hover{
text-decoration:underline;
}

.article-index-desc{
height:auto;
padding-top:5px;
padding-bottom:10px;
width:100%;
text-align:left;
color:grey;
font-size:15px;
font-family:helvetica world;

}

.article-index-info{
min-height:50px;
width:90%;
float:left;
}

.Article-index-writer-div{
width:12%;
height:100%;
float:left;
}

.Article-index-writer-pic{
border: 2px solid #FFF;
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
background-size:35px 35px;
margin:6px auto;
height:50px;
width:50px;
border-radius:100%;
overflow:hidden;
display:block;
}

.Article-index-writer-name{
text-align:left;
padding-top:10px;
padding-left:70px;
height:35px;
width:100%;
}

.Article-index-writer-name a{
color:#f26522;
text-decoration:none;
}

.Article-index-writer-name a:hover{
color:#f26522;
text-decoration:underline;
}

.Article-index-Views{
width:15%;
height:20px;
float:left;
text-align:left;
color:grey;
font-size:16px;
font-family:helvetica world;

}

.Article-index-reviews{
width:15%;
height:20px;
float:left;
text-align:left;
color:grey;
font-size:16px;
font-family:helvetica world;
}

.Article-index-date{
width:20%;
height:20px;
float:left;
text-align:left;
color:grey;
font-size:16px;
font-family:helvetica world;
}


.article-index-Picto{
float:left;
padding-left:5px;
}

.article-adv2{
width:10%;
height:53px;
float:left;
padding-top:10px;
}

.article-adv-top2{
width:100%;
height:20px;
text-align:center;
font-size:15px;
font-family:helvetica world;
color:grey;
padding-top:9px;
}

.article-adv-bellow2{
width:100%;
height:30px;
text-align:center;
font-size:15px;
font-family:helvetica world;
color:grey;
padding-top:2px;

}

.right-feed{
position:fixed;
left:60%;
float:left;
width:29%;
height:600px;
}

.featured-div{
width:100%;
}

.UpcommingEvents-div{
width:100%;
margin-top:25px;
}

.index-title{
width:100%;
height:28px;
border-bottom:2px solid #f26522;
color:#f26522;
font-family:helvetica world;
font-size:17px;
padding-left:10px;
}

.featured-ul li{
height:60px;
width:100%;
border-bottom:1px solid #d9d9d9;
}

.featured-ul li:last-child{
border-bottom:0px solid #d9d9d9;
}


.featured-ul li:hover{
background-color: #efefef;
}

.featured-pic{
width:18%;
height:100%;
float:left;
}

.featured-circlePic{
border: 2px solid #FFF;
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
background-size:35px 35px;
margin:3px auto;
height:50px;
width:50px;
border-radius:100%;
overflow:hidden;
display:block;
}

.featured-Info{
width:70%;
height:100%;
float:left;
}

.featured-Name{
width:100%;
height:27px;
line-height:32px;
padding-left:5px;
font-size:16px;
font-family:Helvetica World;
color:#f26522;

}

.featured-profession{
width:100%;
height:20px;
margin-bottom:6px;
padding-left:5px;
font-size:15px;
font-family:Helvetica World;
color:grey;
padding-top:5px;
}

.featured-Arrow{
width:10%;
height:100%;
float:left;
}

.featured-Arrow-picto{
margin:15px auto;
display:block;
}


.UpcommingEvents-div{
width:100%;
margin-top:30px;
}

.sportoya-stat-div{
width:100%;
margin-top:160px;
}

.sportoya-stat-div-left{
width:40%;
float:left;
}

.sportoya-stat-div-left ul{
width:100%;
margin-top:63%;
}

.sportoya-stat-div-left ul li{
width:30px;
height:30px;
float:left;
margin-right:9%;
}

.index-social-links-fb{
background-image: url("../img/indexsocialfb.png");
cursor:pointer;
}

.index-social-links-fb:hover{
background-image: url("../img/indexsocialfbB.png");
transition: background 0.8s ease;
}

.index-social-links-t{
background-image: url("../img/indexsocialtw.png");
cursor:pointer;
}

.index-social-links-t:hover{
background-image: url("../img/indexsocialtwB.png");
transition: background 0.8s ease;
}

.index-social-links-insta{
background-image: url("../img/indexsocialinstaG.png");
cursor:pointer;
}

.index-social-links-insta:hover{
background-image: url("../img/indexsocialinstaB.png");
transition: background 0.8s ease;
}





.sportoya-stat-div-right{
width:60%;
float:right;
}


.UpcommingEvents-div-mini{
width:100%;
height:32px;
}

.orange-index-count{
background-color:#f26522;
color:white;
font-family:helvetica world;
font-size:16px;
line-height:20px;
text-align:right;
width:44%;
height:25px;
padding:4px;
float:right;
border-radius:5px;
white-space: nowrap;
padding-right:10px;
}

.yellow-index-count{
font-size:16px;
line-height:20px;
background-color:#f2992e;
color:white;
font-family:helvetica world;
text-align:right;
height:25px;
float:right;
height:25px;
padding:4px;
width:50%;
border-radius:5px;
white-space: nowrap;
padding-right:10px;
}

.green-index-count{
font-size:16px;
line-height:20px;
background-color:#56bc8a;
color:white;
font-family:helvetica world;
text-align:right;
height:25px;
float:right;
height:25px;
padding:4px;
width:59%;
border-radius:5px;
white-space: nowrap;
padding-right:10px;
}

.blue-index-count{
font-size:16px;
line-height:20px;
background-color:#529ecc;
color:white;
font-family:helvetica world;
text-align:right;
width:69%;
float:right;
height:25px;
padding:4px;
border-radius:5px;
white-space: nowrap;
padding-right:10px;
}

.like-and-rate{
width:100%;
height:80px;
border-top:1px solid #e5e5e5;
}

.like-and-rate-left{
width:50%;
height:100%;
float:left;
border-right:1px solid #e5e5e5;
}

.like-and-rate-right{
width:50%;
height:100%;
margin:0px auto;
display:block;
}

.like-and-rate-title{
text-align:center;
color:grey;
font-size:16px;
font-family:helvetica world;
padding-top:10px;
margin-bottom:5px;
}



.index-mini-box{
width:100%;
height:100px;
}

.index-mini-box-left{
width:28%;
height:100%;
float:left;
background-color:grey;
border-bottom-left-radius:5px;
border-top-left-radius:5px;
}

.index-mini-box-right{
width:72%;
height:100%;
float:left;

}

.index-mini-box-img{
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
background-size:35px 35px;
margin:0px auto;
height:100px;
width:100%;
overflow:hidden;
display:block;
border-bottom-left-radius:5px;
border-top-left-radius:5px;
}

.index-mini-box-name{
height:30px;
width:100%;
padding-top:15px;
padding-left:20px;
font-family:helvetica world;
font-size:17px;
color:#f26522;
text-decoration:none;
}

.index-mini-box-name:hover{
text-decoration:underline;
}

.index-mini-box-profession{
height:30px;
width:100%;
font-family:helvetica world;
font-size:15px;
color:grey;
padding-top:8px;
padding-left:20px;
}

.index-mini-box-info{
width:100%;
height:30px;
padding-top:10px;
padding-left:15px;
}

.popup-Login{
width:80px;
height:33px;
float:right;
text-align:center;
padding:3px;
border:2px solid grey;
border-radius:5px;
margin-top:8px;
cursor:pointer;
background-color:white;
outline:none;
z-index:1000;
margin-right:15px;
}

.popup-Login:hover{
background-color:#efefef;
transition: background 0.8s ease;
}

.popup-Login a{
line-height:25px;
text-decoration:none;
color:grey;
font-family:helvetica world;
font-size:13px;
font-weight:bold;
}

.popup-Login a:hover{
text-decoration:none;
color:grey;
font-family:helvetica world;
}

.no-entry{
width:100%;
height:120px;
text-align:center;
color:grey;
padding:50px;
}

.sign-in{
width:25%;
height:auto;
background-color:white;
border-radius: 5px;
box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
-webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.46);
display:block;
margin:200px auto;
}

.userArticlesBody{
width:100%;
margin-top:15px;
height:auto;
}

.userArticlesBody ul {
border-top:1px solid #efefef;
}

.userArticlesBody ul li{
border-bottom:1px solid #efefef;
}


.userArticlesBody-mini-box{
width:100%;
height:100px;
}

.userArticlesBody-mini-box-left{
width:28%;
height:100%;
float:left;
background-color:grey;
}

.userArticlesBody-mini-box-right{
width:72%;
height:100%;
float:left;

}

.userArticlesBody-mini-box-img{
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
background-size:35px 35px;
margin:0px auto;
height:100px;
width:100%;
overflow:hidden;
display:block;
border-bottom-left-radius:5px;
border-top-left-radius:5px;
}

.userArticlesBody-mini-box-name{
height:auto;
width:100%;
padding-top:15px;
padding-left:20px;
font-family:helvetica world;
font-size:17px;
color:#f26522;
text-decoration:none;
}

.userArticlesBody-mini-box-name:hover{
text-decoration:underline;
}

.userArticlesBody-mini-box-profession{
height:30px;
width:100%;
font-family:helvetica world;
font-size:15px;
color:grey;
padding-top:8px;
padding-left:20px;
}

.userArticlesBody-mini-box-info{
width:100%;
height:30px;
padding-top:10px;
padding-left:15px;
}

.userArticlesBody-index-Views{
width:20%;
height:20px;
float:left;
text-align:left;
color:grey;
font-size:16px;
font-family:helvetica world;

}

.userArticlesBody-index-reviews{
width:20%;
height:20px;
float:left;
text-align:left;
color:grey;
font-size:16px;
font-family:helvetica world;
}

.userLocationBody{
width:100%;
margin-top:15px;
height:200px;
}

.userOtherLocationsBody{
width:100%;
margin-top:15px;
height:auto;
}

.userOtherLocationsBody ul{
border-top:1px solid #efefef;
width:100%; 
height:auto; 
}

.userOtherLocationsBody ul a li{
margin-left:10px;
height:auto;
width:100%;
}

.userOtherLocationsBody ul a li:hover{
background-color:#efefef;
}

.userOtherLocationsBody-name{
width:50%;
height:auto;
color:#f26522;
padding:10px;
float:left;
}

.userOtherLocationsBody-address{
width:50%;
height:auto;
color:grey;
padding:10px;
float:left;
}




}